body {
    font-family: "Trebuchet MS", serif;
}

.table thead th {
    vertical-align: middle;
    text-align: center;
}

.table tbody th {
    vertical-align: middle;
    text-align: center;
}

.table tr td {
    vertical-align: middle;
}

.num_cell {
    text-align: center;
}

.form-control:disabled.criteria-selected {
    border: none;
    background: inherit;
}

.coeff-input {
    width: 60px;
    margin: auto;
}

.direction-input {
    width: 85px;
    margin: auto;
}

.table-input {
    text-align: center;
    border: none;
    background: inherit;
    width: 100%;
}

.table-input-text {
    width: 100%;
    min-width: 200px;
    border: none;
    background: inherit;
}